<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

<%- include('layouts/navbar') -%>

<body>
    <!--Main Navigation-->


  <!-- Background image -->
  <div
    id="intro"
    class="bg-image"
    style="
    background-image: url('./img/image001.jpg');
    height: 100vh;
  "
  >
    <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.4);">
      <div class="container d-flex align-items-center text-center h-100">
        <div>
          <h1 
          data-mdb-toggle="animation"
          data-mdb-animation="fade-in-down"
          data-mdb-animation-start="onLoad"
          data-mdb-animation-delay="100"
          class="mb-2 title display-2">JP's Customz</h1>
          <p 
          data-mdb-toggle="animation"
          data-mdb-animation="fade-in-up"
          data-mdb-animation-start="onLoad"
          data-mdb-animation-delay="300"
          class="intro-text title">
            Join several others and share your articles in many categories, or create one. 
            Either way, there's always a story left behind for someone to read.
          </p>
          <a 
          data-mdb-toggle="animation"
          data-mdb-animation="fade-in-up"
          data-mdb-animation-start="onLoad"
          data-mdb-animation-delay="600"
          href="mailto:jessikawilson@yahoo.com"
          class="btn btn-primary btn-lg">
            EMAIL ME
        </a>
        </div>
      </div>
  </div>
</div>
<!-- Background image -->

  <%- include('layouts/scripts') -%>

    
</body>
</html>